pandas==2.2.2
plotly==5.17.0
streamlit==1.36.0
pandas-datareader==0.10.0
prophet==1.1.5
numpy==1.26.4
numpy_financial==1.0.0
streamlit-authenticator==0.3.2
streamlit-option-menu==0.3.13
matplotlib==3.9.0
pyxirr==0.10.4
streamlit-aggrid==1.0.5